# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/weather_database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current description     object
dtype: object

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What's the minimun temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What's the maximum temperature you would like for your trip?"))

What's the minimun temperature you would like for your trip?35
What's the maximum temperature you would like for your trip?75

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"]>=min_temp)]

# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
1,1,Mataura,NZ,-46.1927,168.8643,66.74,32,12,5.55,few clouds
2,2,Luderitz,NaN,-26.6481,15.1594,64.87,62,0,19.53,clear sky
3,3,Penzance,GB,50.1186,-5.5371,52.48,84,100,34.18,light rain
4,4,Daitari,IN,21.1000,85.7500,59.90,49,22,2.19,few clouds
5,5,Airai,TL,-8.9266,125.4092,62.51,95,100,3.78,overcast clouds
9,9,Comodoro Rivadavia,AR,-45.8667,-67.5000,64.26,42,0,2.30,clear sky
10,10,Ponta Do Sol,PT,32.6667,-17.1000,67.01,27,1,4.90,clear sky
11,11,Lompoc,US,34.6391,-120.4579,56.79,81,100,5.59,overcast clouds
12,12,Bluff,NZ,-46.6000,168.3333,56.53,55,15,6.73,few clouds
18,18,Bambous Virieux,MU,-20.3428,57.7575,73.65,88,40,2.30,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df


# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
1,1,Mataura,NZ,-46.1927,168.8643,66.74,32,12,5.55,few clouds
2,2,Luderitz,NaN,-26.6481,15.1594,64.87,62,0,19.53,clear sky
3,3,Penzance,GB,50.1186,-5.5371,52.48,84,100,34.18,light rain
4,4,Daitari,IN,21.1000,85.7500,59.90,49,22,2.19,few clouds
5,5,Airai,TL,-8.9266,125.4092,62.51,95,100,3.78,overcast clouds
9,9,Comodoro Rivadavia,AR,-45.8667,-67.5000,64.26,42,0,2.30,clear sky
10,10,Ponta Do Sol,PT,32.6667,-17.1000,67.01,27,1,4.90,clear sky
11,11,Lompoc,US,34.6391,-120.4579,56.79,81,100,5.59,overcast clouds
12,12,Bluff,NZ,-46.6000,168.3333,56.53,55,15,6.73,few clouds
18,18,Bambous Virieux,MU,-20.3428,57.7575,73.65,88,40,2.30,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp","Current description","Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng
1,Mataura,NZ,66.74,few clouds,-46.1927,168.8643
2,Luderitz,NaN,64.87,clear sky,-26.6481,15.1594
3,Penzance,GB,52.48,light rain,50.1186,-5.5371
4,Daitari,IN,59.90,few clouds,21.1000,85.7500
5,Airai,TL,62.51,overcast clouds,-8.9266,125.4092
9,Comodoro Rivadavia,AR,64.26,clear sky,-45.8667,-67.5000
10,Ponta Do Sol,PT,67.01,clear sky,32.6667,-17.1000
11,Lompoc,US,56.79,overcast clouds,34.6391,-120.4579
12,Bluff,NZ,56.53,few clouds,-46.6000,168.3333
18,Bambous Virieux,MU,73.65,scattered clouds,-20.3428,57.7575

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
1,Mataura,NZ,66.74,few clouds,-46.1927,168.8643,
2,Luderitz,NaN,64.87,clear sky,-26.6481,15.1594,
3,Penzance,GB,52.48,light rain,50.1186,-5.5371,
4,Daitari,IN,59.90,few clouds,21.1000,85.7500,
5,Airai,TL,62.51,overcast clouds,-8.9266,125.4092,
9,Comodoro Rivadavia,AR,64.26,clear sky,-45.8667,-67.5000,
10,Ponta Do Sol,PT,67.01,clear sky,32.6667,-17.1000,
11,Lompoc,US,56.79,overcast clouds,34.6391,-120.4579,
12,Bluff,NZ,56.53,few clouds,-46.6000,168.3333,
18,Bambous Virieux,MU,73.65,scattered clouds,-20.3428,57.7575,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
1,Mataura,NZ,66.74,few clouds,-46.1927,168.8643,Ellie's Villa
2,Luderitz,NaN,64.87,clear sky,-26.6481,15.1594,LÜDERITZ NEST HOTEL
3,Penzance,GB,52.48,light rain,50.1186,-5.5371,Artist Residence Penzance
4,Daitari,IN,59.90,few clouds,21.1000,85.7500,
5,Airai,TL,62.51,overcast clouds,-8.9266,125.4092,
...,...,...,...,...,...,...,...
554,Lagos,NG,70.86,broken clouds,6.5833,3.7500,
557,Paita,PE,69.75,few clouds,-5.0892,-81.1144,Hotel Náutico de Paita
558,Chicama,PE,68.54,overcast clouds,-7.8447,-79.1469,Balihai Bungalows
561,Simi,SL,74.32,overcast clouds,9.5667,-12.3500,
568,Mayo,US,46.49,clear sky,38.8876,-76.5119,Resorts Resource Group International

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df

#hotel_df.count()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
1,Mataura,NZ,66.74,few clouds,-46.1927,168.8643,Ellie's Villa
2,Luderitz,NaN,64.87,clear sky,-26.6481,15.1594,LÜDERITZ NEST HOTEL
3,Penzance,GB,52.48,light rain,50.1186,-5.5371,Artist Residence Penzance
4,Daitari,IN,59.90,few clouds,21.1000,85.7500,
5,Airai,TL,62.51,overcast clouds,-8.9266,125.4092,
9,Comodoro Rivadavia,AR,64.26,clear sky,-45.8667,-67.5000,Austral Hotel
10,Ponta Do Sol,PT,67.01,clear sky,32.6667,-17.1000,Hotel do Campo
11,Lompoc,US,56.79,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
12,Bluff,NZ,56.53,few clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
18,Bambous Virieux,MU,73.65,scattered clouds,-20.3428,57.7575,Casa Tia Villa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "Vacation_Search.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file,index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

["\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>few clouds and 66.74 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>LÜDERITZ NEST HOTEL</dd>\n<dt>City</dt><dd>Luderitz</dd>\n<dt>Country</dt><dd>nan</dd>\n<dt>Current Weather</dt><dd>clear sky and 64.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Artist Residence Penzance</dd>\n<dt>City</dt><dd>Penzance</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Weather</dt><dd>light rain and 52.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Daitari</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>few clouds and 59.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Airai</dd>\n<dt>Country</dt><dd>TL</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 62.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Austral Hotel</dd>\n<dt>City</dt><dd>Comodoro Rivadavia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 64.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>clear sky and 67.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Holiday Inn Express Lompoc, an IHG Hotel</dd>\n<dt>City</dt><dd>Lompoc</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 56.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bluff Homestead - Guesthouse & Campervan Park</dd>\n<dt>City</dt><dd>Bluff</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>few clouds and 56.53 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 73.65 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1  -46.1927  168.8643
2  -26.6481   15.1594
3   50.1186   -5.5371
4   21.1000   85.7500
5   -8.9266  125.4092
9  -45.8667  -67.5000
10  32.6667  -17.1000
11  34.6391 -120.4579
12 -46.6000  168.3333
18 -20.3428   57.7575

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

# Create a figure to add the Google map as a layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display the figure containing the map
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))